* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.nav-links a:hover {
    background-color: #444;
}

/* Dropdown */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 180px;
    list-style: none;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 12px;
}

/* Hover par dropdown show hoga */
.dropdown:hover .dropdown-menu {
    display: block;
}
